{% extends "auctions/layout.html" %}

{% block title %} Auction listings {% endblock title %}

{% block body %}

<h4>Active Listings</h4>
{% comment %} loop through the listings object {% endcomment %}
{% for list in listings %}
<a style="text-decoration:none; color:#2C3639;" href="{% url 'details' list.id %}">
  <div class="my-5" id="list_container" style="border: 0.5px solid #2C3639;padding: 20px; box-shadow: #2C3639;">
  <table>
    <tr>
      <td class="mr-10">
          <div class="mx-3"><img style="width: 300px; height: 200px;" id="list_img" src={{list.image}}></div>
      </td>
      <td>
          <div class="list-details">
          <h3> {{list.title}} </h3>
          <p>Description: {{list.description}}</p>
          <p>Price: N{{list.price}}</p>
          <p> Posted on: {{list.date_created}} </p>
          <p>Category: {{list.category}} </p>
          
          </div>
      </td>
    </tr>
  </table>

  </div>
 </a>
{% endfor %}

{% endblock %}